<div>
    <mat-card class="main-container">
        <h3>
            Login
        </h3>
        <form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit">Login</button>
        </form>
    </mat-card>
</div>