:host {
    display: block;
}

.main-container {
    width: 50vw;
    height: 50vh;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 50%;
}
