@import '/src/styles.scss';

h1 {
    text-align: center;
}

.mat-mdc-form-field {
    display: block;
}

.header-field {
    grid-area: header-field;
}

.name-form-field {
    grid-area: name-form-field;
}

.artist-form-field {
    grid-area: artist-form-field;
}

.song-list {
    width: 25vw;
    height: 60vh;
    grid-area: song-list;
}

.file-form-field {
    grid-area: file-form-field;
}

.release-date-form-field {
    grid-area: release-date-form-field;
}

.create-button {
    grid-area: create-button;
}

form {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 50px;
    row-gap: 30px;
    padding: 1.5em;
    grid-template-areas:
    "header-field header-field song-list"
    "name-form-field artist-form-field song-list"
    "file-form-field release-date-form-field song-list"
    "create-button none none";
    align-items: center;
    justify-items: center;
}

button {
    width: 30%;
    justify-self: left;
    grid-column: 1;
}

.file-button {
    width: 100%;
    height: 56px;
    font-size: large;
    text-align: center;
}

::ng-deep .file-form-field .mdc-line-ripple {
    display: none;
}

::ng-deep .file-form-field .mdc-text-field {
    padding: 0;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
    padding: 0;
}

mat-form-field {
    width: 90%;
}

